@model BusinessLogic.Models.UsersAccount

@{
    ViewBag.Title = "Login";
}

<div class="container">
    <h2>Login</h2>

    <div class="panel panel-info">
        <div class="panel-heading">
            Login
        </div>
        <div class="panel-body">
            Username:
            <input type="text"><br />
            Password:
            <input type="password" />
        </div>
    </div>
</div>

