@model MVC.Models.Models.UserAccount

@{
    ViewBag.Title = "Login";
}

<div class="container">
    <h2>Login</h2>

    <div class="panel panel-info">
        <div class="panel-heading">
            Login
        </div>
        @using (Html.BeginForm("ValidateUser", "Login", FormMethod.Post))
        {
            <div class="panel-body">
                Username: @Html.TextBox("username")<br />
                Password: @Html.Password("password")<br />
                <input type="submit" value="Login" name="buttonLogin" />
            </div>
        }
    </div>
</div>

